@model IEnumerable<SocialityApp.Models.Posts>

@{
    ViewBag.Title = "Posts";
}

<br>

<p>
    <a href="@Url.Action("Create", "Posts")" class="btn btn-primary">
        Write a new post
        <span class="glyphicon glyphicon-edit" />
    </a>
    </p>
<br>

@foreach (var item in Model) {
    
<div class="jumbotron">
    <h1>
        @Html.DisplayFor(modelItem => item.Title)
    </h1>
    <p>
        @Html.DisplayFor(modelItem => item.Description)
    </p>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-primary" })
        @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-primary" })
        @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-primary" })
    </p>
</div>



}

